@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;500&display=swap%27');

*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxanium;
}

body{
    background: linear-gradient(#ff3022c9, rgba(0, 0, 0, 0.539));
}

main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;    
    align-items: center;
}

.container{
    border: 1px solid rgba(250, 241, 241, 0.568);
    width: 55%;
    height: 88%;
    background-color: rgba(0, 0, 0, 0.878);
    padding: 30px 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 50px 5px;
    box-shadow: 8px 8px 8px rgba(24,24, 24, 0.5);
    transition: 0.5s;
}

.logo-area{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo-area img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
}

.form-area{
    display: flex;
    flex-direction: column;
    flex: 1.5;
    align-items: center;
    justify-content: center;
}

.form-title{
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.form-title h2{
    border-bottom: 2px dotted #fa1e0ed0;
    margin-bottom: 30px;
    padding-top: 20px;
}

.form-area h2{
    font-weight: bolder;
}

.form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-items-checkbox{
    display: flex;
}

/***/
.box-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.mant-conectado{
    padding-bottom: 10px;
}
.reset-password a{
   font-size: 16px;
}
.box{
    margin-top: -10px;
    background-color: white;
    padding: 20px 10px 10px 10px;
    border-radius: 50px 5px;
}
.input-wapper{
    position: relative;
    padding: 20px 10px;
    
}
.input-field{
    border: 0;
    border-bottom: 2px solid #01b268e1;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.69);
    text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.69);
    padding: 4px 15px;
    padding-right: 32px;
    background: transparent;
    transition: border-color 0.2s;
    outline: 0;
    
}
.input-field::placeholder{
    color: transparent;
}
.input-field:placeholder-shown ~ .inpult-label{
    font-size: 16px;
    cursor: text;
    color: #01B267;
    top: 20px;
}
.input-field:focus{
    border-bottom: 2px dotted #01b268e1;
    box-shadow: 2px 2px 2px #01b268e1;
    background-color: #01b26814;
    border-radius: 30px 5px;
    transition: 0.2s;
    
}
label, .input-field:focus ~ .input-label{
    position: absolute;
    top: 0px;
    display: block;
    font-size: 14px;
    left: -1;
    color: #863434f2;
    transition: 0.3s;
}

.input-icon{
    position: absolute;
    right: 15px;
    width: 26px;
    padding: 1px;
    transform-origin: center;
    cursor: pointer;
}
.input-icon:hover{
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.22);
    padding: 2px;
    transition: 0.2s;
}
/*
.form-area input{
    width: 199px;
    border: none;
    padding: 8px 8px;
    border-radius: 12px;
    margin-bottom: 15px;
    color: black;
}
*/

.form-submit-button{
    width: 255px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: bolder;
}

.form-area button{
    font-weight: bolder;
    border-radius: 12px;
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    background-color: #01B267;
    text-shadow: 1px 1px 1px rgba(24,24, 24, 0.9);
    box-shadow: 0px 1px 3px #9e9e9e;
    cursor: pointer;
}

@media (max-width: 768px){
    .container{
        height: 560px;
        width: 500px;
        display: flex;
        flex-direction: column;
    }

    .form-area{
        flex: 2;
        height: 100%;
    }
    .reset-password{
        margin-bottom: 25px;
    }
    .form-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

}

@media (max-width: 500px){
    .container{
        height: 550px;
        width: 350px;
        display: flex;
        flex-direction: column;
    }
}

/******************PAGINA DASHBOARD***************************************/



















